body{
    background-color: #e1e1e1;
}


.logo{
    background: url("../image/logo_png24.png") no-repeat;
    background-position: center top;
    background-color: #e1e1e1;
}
#nav{
    padding-top: 304px;


}
.navigate {
    display: inline-block;
    font-size: 32px;
    font-family: "Times New Roman";
    text-align: center;

}
#nav div:last-child{
    padding-bottom: 38px;
}
.banner{
    background: url("../image/header_banner_png24.png") no-repeat;
    background-size: cover;
    height: 1100px;

}
.content-item {
    display: inline-block;
}
img{
    width: 100%;
}