#b{
    background-color: #e1e1e1; !important;
}


.logo{
    background: url("../image/logo_png24.png") no-repeat;
    background-position: center top;
    background-color: #e1e1e1;
}
#nav{
    padding-top: 304px;


}
.navigate {
    display: inline-block;
    font-size: 32px;
    font-family: "Times New Roman";
    text-align: center;

}
#nav div:last-child{
    padding-bottom: 38px;
}
.banner{
    background: url("../image/header_banner_png24.png") no-repeat;
    background-size: cover;
    height: 1100px;

}
.content-item {
    display: inline-block;
}
.content-item{
    width: 400px;
}

.brand1{
    background: url("../image/content/brend1_content_jpeg.jpg") no-repeat;
    background-size: cover;
    height: 350px;

}

.brand2{
    background: url("../image/content/brand2_content_jpeg.jpg") no-repeat;
    background-size: cover;
    height: 350px;

}

.brand3{
    background: url("../image/content/brand3_content_jpeg.jpg") no-repeat;
    background-size: cover;
    height: 350px;

}

.brand4{
    background: url("../image/content/brand4_content.jpg") no-repeat;
    background-size: cover;
    height: 585px;

}
@media screen and (max-device-width: 767px) {
    .brand4 {
        display: none;
    }
}
@media screen and (max-device-width: 767px) {
    .brand3 {
        display: none;

    }
}
@media screen and (max-device-width: 767px) {
    .brand2 {
        display: none;

    }
}
@media screen and (max-device-width: 767px) {
    .brand1 {
        display: none;
    }
}
.otstyp{
    margin-top: 70px;

}

.asort-item{
    text-align: center;
}
@media screen and (max-device-width: 767px) {
    .asort-item {
        display: none;
    }
}
.content h2:first-child{
    text-align: center;
}
.special{
    position: relative;
    top: -100px;
}
h2{
    font-size: 33px;!important;
    font-family: "Times New Roman";!important;
    font-weight: bold;!important;
}
p{
    font-size: 33px;
    font-family: "Times New Roman";
}
.akcent{
    font-size: 33px;
    font-weight: bold;
    font-family: "Times New Roman";
}
#special{
    text-align: center;
    padding-top: 190px;
}


@media screen and (max-device-width: 991px) {
    .special {
        display: none;
    }

}
@media screen and (max-device-width: 767px) {
    .special {
        display: none;
    }
    .content{
        text-align: center;
    }
}
#imagepromo{
   margin: 0 auto;
    width: 100%;
}
.skidka{
    margin: 0 auto;


    text-align: center;

}
#skidka2{
    display: block;
    margin: 0 auto;
    font-size: 126px;
    color: white;
    background-color: #520644;
    border-radius: 100px;
    width: 50%;
    text-align: center;
}
div>h2.zag_cont{
    font-size: 33px;
    font-family: "Times New Roman";
    padding-left: 10px;

}
#zag_left{
    text-align: left;
}
#zag_left1{
    text-align: left;
}
#zag_left2{
    text-align: left;
}
.abz_cont{
    font-size: 22px;
    font-family: "Times New Roman";
    padding: 10px;
}
.bold_content{
    font-weight: bold;
}
@media screen and (max-device-width: 767px) {
    .special {
        display: none;
    }
    .content{
        text-align: center;
    }
    #zag_left{
        text-align: center;
    }
    #zag_left1{
        text-align: center;
    }
    #zag_left2{
        text-align: center;
    }
}
.footer-contacts{
    padding-left: 25px;
    text-transform: uppercase;
}
.footer-img{
    min-width: 62px;

}
.karta{
    padding: 20px;
}
form{
    padding: 20px;
}
.footer-end{
    height: 40px;
    text-align: center;
    font-size: 12px;
}#go-top{
     position: fixed;
     bottom: 28px;
     right: 10px;
     cursor: pointer;
     display: none;
     width: 80px;
     height: 45px;
     background: #c0c0c0;
     border-radius: 5px;
     padding-left: 20px;

 }
#go-top:hover{
    background-color: #428bca;

}
